@use '../../../helpers' as *;

.graphic-tile {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 10;
  padding-block: rem(10);
  width: rem(220);
  box-shadow: var(--box-shadow-alter);

  @include tablet {
    width: rem(180);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -15%;
    left: -15%;
    width: rem(42);
    height: rem(28);
    background: url('../../../../icons/2.svg') center center no-repeat;
  }
}