@use '../../helpers/index' as *;

.base-link {
  $padding-link-x: 18;
  @include fluid-text(20,14);

  padding: rem(7) rem($padding-link-x);
  border-radius: rem(7);
  border: var(--border-2px-transparent);

  @include hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

  @include tablet {
    $padding-link-x: 12;
    padding: rem(5) rem($padding-link-x);
  }

  @include mobile {
    $padding-link-x: 8;
    padding: rem(5) rem($padding-link-x);

  }
}