@use '../../helpers/index' as *;

.button {
  padding: fluid(17, 9) fluid(26,15);
  font-weight: 700;
  border: var(--border-2px-transparent);
  border-radius: rem(13);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: rem(121);

  @include hover {
    background-color: var(--color-white);
    border-color: var(--color-accent);
    color: var(--color-accent);
  }

  @include tablet {
    min-width: rem(86);
  }

  &--thin {
    font-family: var(--font-family-accent);
    font-weight: 500;
  }

  &--accent {
    background-color: var(--color-accent);
    color: var(--color-light);

    &-with-icon {
      @include hover {
        .icon--white-arrow::after {
          background-image: url('../../../icons/accent-arrow.svg');
        }
      }
    }
  }

  &--gray {
    color: var(--color-light-gray);

    @include hover {
      color: var(--color-dark);
      border: 2px solid var(--color-light-gray);
    }
  }

  &--with-border {
    border-color: var(--color-accent);
    color: var(--color-accent);

    @include hover {
      color: var(--color-dark);
      border-color: var(--color-dark);
      background-color: var(--color-white);
      opacity: 90%;
    }
  }

}