@use '../../helpers' as *;

.review-card {
  display: flex;
  flex-direction: column;
  row-gap: rem(32);
  padding: rem(38) rem(43);
  border-radius: rem(20);
  font-size: 18px;
  background-color: var(--color-white);
  max-width: rem(650);
  width: 100%;
  font-family: var(--font-family-accent);
  font-style: italic;
  position: relative;

  @include mobile {
    padding: rem(32);
    row-gap: rem(25);
  }

  @include mobile-s {
    padding: rem(20) rem(32);
    row-gap: rem(20);
  }

  &__header {
    display: flex;
    column-gap: rem(20);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      @include square(rem(60));
      background: url('../../../icons/quotes.svg') center/contain no-repeat;

      @include mobile-s {
        @include square(rem(50));
      }
    }
  }

  &__image {
    @include square(rem(70));
    border-radius: 50%;
    background-color: var(--color-light-gray);
  }

  &__info {
    color: #030314;
    font-style: normal;
    font-weight: 500;
    font-size: rem(21);
  }

  &__experience {
    color: #5E5D5D;
    font-style: normal;
    font-weight: 400;
    font-family: var(--font-family-accent-alter);
    font-size: rem(17);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);

    & > .rating-view {
      align-self: flex-start;

      @include mobile-s {
        align-self: center;
      }
    }
  }

  &__feedback {
    text-align: left;
  }
}