@use '../../helpers/index' as *;

.swiper {
  margin: 0 !important;
  position: relative !important;

  --swiper-pagination-color: var(--color-accent);
  --swiper-pagination-bullet-size: #{rem(15)};
  --swiper-pagination-bullet-width: #{rem(15)};
  --swiper-pagination-bullet-height: #{rem(15)};
  --swiper-pagination-bullet-horizontal-gap: #{rem(8)};

  --swiper-min-height: #{rem(238)};
  --swiper-active-slide-max-height: #{rem(350)};
  --swiper-active-slide-min-height: #{rem(350)};

  height: auto;

  @include tablet {
    overflow: visible !important;
  }

  @include mobile {
    --swiper-min-height: #{rem(200)};
  }

  @include mobile-s {
    --swiper-min-height: #{rem(240)};
  }

  .swiper-pagination {
      left: 72% !important;
      top: calc((var(--swiper-min-height)) + #{rem(10)}); ;
      transform: translateX(-50%) !important;

      @include tablet {
        left: 50% !important;
        bottom: unset !important;
        margin-top: rem(30);
      }
  }

  &-slide {
    --local-transition-duration: 0.5s;
    word-wrap: break-word !important ;
    text-align: center;
    opacity: 50%;

    .review-card {
      //max-height: var(--swiper-min-height);
      transition: max-height ease var(--local-transition-duration),
      opacity ease var(--local-transition-duration),
      min-height ease var(--local-transition-duration) !important;
    }

    @include tablet {
      display: flex !important;
      justify-content: center !important;
    }

    .review-card__header,
    .review-card__body {
      transition: all ease var(--local-transition-duration);
    }

    &-active {
      opacity: 1;
      .review-card {
        min-height: var(--swiper-active-slide-min-height);
        &__body {
          color: #636363  ;
        }
        &__header {
          translate: 0 0;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:not(.swiper-slide-active) {
      .review-card {
        &__body {
          translate: 0 calc(-1 * #{rem(100)});
        }
        color: #969696;
        &__header {
          opacity: 0;
          visibility: hidden;
          translate: 0 calc(-1 * #{rem(100)});
          @include tablet{
            translate: 0 calc(-1 * #{rem(50)});
          }
        }
      }
    }
  }
}
