@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/header/header.scss';
@use 'blocks/shared_blocks/logo.scss';
@use 'blocks/header/burger-button.scss';
@use 'blocks/shared_blocks/base-link.scss';
@use 'blocks/shared_blocks/button.scss';

@use 'blocks/footer/footer.scss';
@use 'blocks/shared_blocks/soc1als.scss';

@use 'blocks/home_page/hero-section/hero.scss';
@use 'blocks/home_page/hero-section/metrics.scss';

@use 'blocks/home_page/advantages-section/advantages.scss';
@use 'blocks/shared_blocks/section.scss';

@use 'blocks/shared_blocks/rating-view.scss';
@use 'blocks/shared_blocks/icon.scss';
@use 'blocks/shared_blocks/image-container';

.header {
  display: none !important;
}

.footer {
  display: none !important;
}

.main > *:not(:last-child) {
    display: none !important;
}
